<style>
	fieldset table th { text-align: right; padding-right: 5px; }
</style>
<form method="post" action="/login">
	<fieldset>
		<legend>Login</legend>
		<table>
			<tr>
				<th><label for="username">Username:</label></th>
				<td><input type="email" name="user" id="username" /></td>
			</tr>
			<tr>
				<th><label for="password">Password:</label></th>
				<td><input type="password" name="pass" id="password" /></td>
			</tr>
			<tr>
				<td />
				<td><input type="submit" value="Login" /></td>
			</tr>
		</table>
	</fieldset>
</form>