		<style>
			body { font-family: sans-serif; text-align:center; }
			div.line { border-bottom:1px solid #A9A9A9; text-indent: 0em; margin-top: 10px; }
			div.line-noline { text-indent: 0em; margin-top: 10px; }
			#postcard { display: inline-block;text-align:left; }
			div.line.indent { text-indent: 3em; }
			input.send { color: black; }
			input,select { border: 1px solid #E0E0E0; border-width: 1px 0 0 1px; color: black; background-color: #D0FFD0; }
			input[type="submit"],input[disabled] { border-width: 1px; background-color: white; }
			input[disabled] { border-width: 0px; }
			input::-webkit-input-placeholder { color: #909090; }
			.right { text-align: right; }
			
			#postcard { height: 350px; width: 540px; border:5px solid black; padding: 10px; position: relative; }
			#stamp { position: absolute; top: 10px; right: 10px; width: 75px; height: 75px; border:3px solid black; }
			#left { display: inline-block; width: 264px; padding-right: 5px; height: 100%; border-right:3px solid #A9A9A9; float: left; position: relative; }
			#right { display: inline-block; width: 247px; height: 100%; padding-left: 20px; text-align: center; position: relative; }
			#toField { position: absolute; top: 150px; right: 20px; left: 20px; text-align: center; }
			#submit { position: absolute; bottom: 0px; right: 20px; left: 20px; text-align: center; }
		</style>
		<h1>
			<?php if(!$this->DISPLAY): ?>Send a thank you postcard
			<?php else: ?>You received a thank you postcard!
			<?php endif; ?>
		</h1>
		<form method="post">
			<div id="postcard">
				<div id="stamp"></div>
				<div id="left">
					<div class="line-noline">Dear <input <?php if($this->DISPLAY): ?>disabled value="<?= $this->receiver->get_var("display") ?>"<?php endif; ?> type="email" name="receiver" id="theirEmail" placeholder="friend's email" onblur="document.getElementById('toEmail').value=this.value;addStamp();" />,</div>
					<div class="line-noline">&nbsp;</div>
					<div class="line">You are <select name="adjective" <?php if($this->DISPLAY): ?>disabled<?php endif; ?>>
						<?php if($this->DISPLAY): ?><option><?= $this->adjective ?></option><?php else: ?>
						<?php foreach($this->adjectives as $adj): ?>
						<option value="<?= strtolower($adj) ?>"><?= $adj ?></option>
						<?php endforeach; ?>
						<?php endif; ?>
					</select> because</div>
					<div class="line"><input type="text" <?php if($this->DISPLAY): ?>disabled value="<?= str_replace("they","you",$this->karma["reason"]) ?>" <?php endif; ?>name="reason" placeholder="you helped me in the real world." style="width:100%;" /></div>
					<div class="line">on <select name="connection" <?php if($this->DISPLAY): ?>disabled<?php endif; ?>>
						<?php if($this->DISPLAY): ?><option><?= $this->connection["name"] ?></option><?php else: ?>
						<option>Choose a Site</option>
						<?php foreach($this->sites as $site): if($site["_id"] != '4e15f0385163dd312a000024'): ?>
						<option value="<?= $site["_id"] ?>"><?= $site["name"] ?></option>
						<?php endif; endforeach; ?>
						<option value="4e15f0385163dd312a000024">other</option>
					<?php endif; ?></select></div>
					<div class="line">&nbsp;</div>
					<div class="line-noline right">Sincerely,</div>
					<div class="line-noline right">
						<?php if($this->DISPLAY): ?><input disabled value="<?= $this->giver->get_var("display"); ?>" />
						<?php else: ?>
						<div id="fromEmailOpt"><input type="email" name="giver" id="myEmail" placeholder="Your Email" onblur="addStamp();" /></div>
						<?php endif; ?>
					</div>
				</div>
				<div id="right">
					<div id="toField">
						To: <input type="email" disabled id="toEmail" onclick="document.getElementById('theirEmail').focus();" />
						<br /><br />
						<?php if(!$this->DISPLAY): ?><input type="submit" value="Send Compliment!" name="submit" /><?php endif; ?> 
					</div>
					<div id="submit"></div>
				</div>
			</div>
		</form>
		<h3 style="font-style:italic;">
			<?php if(!$this->DISPLAY): ?>because we still need manners in the sharing economy
			<?php else: ?><a href="/postcard">Now go out there and thank someone else!</a>
			<?php endif; ?>
		</h3>
		<script src="/js/md5-min.js"></script>
		<script>
			function addStamp()
			{
				var hash = hex_md5(document.getElementById('theirEmail').value.toLowerCase());
				var url = 'http://www.gravatar.com/avatar/' + hash + '?s=75';
				document.getElementById('stamp').style.backgroundImage = 'url("' + url + '")';
			}
			<?php if($this->DISPLAY): ?>document.getElementById('toEmail').value = document.getElementById('theirEmail').value;<?php endif; ?>
			addStamp();
		</script>